.igeco-menu {
    background-color: #094c97;
}

.igeco-menu-dropdown div {
    width: 703px;
    left: -284px !important;
}

.nav-link.disabled {
    color: white;
    pointer-events: all;
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
    min-width: 5rem;
}
.nav-item:hover .dropdown-menu {
    display: block !important;
    color: #919191;
   
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;

}

.nav-link.active {
    color: white !important;
}

.nav-link.show {
    color: white !important;
}

.nav-link {
    color: white;
}

.offcanvas {
    background-color: #1f1f1f;
    color: #979797;
    text-transform: uppercase;
    font-weight: 600;
}

.offcanvas-header .btn-close {
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' ><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z' /></svg>");
}

.offcanvas.show .nav-item {
    border-bottom: 1px solid grey;
    padding: 10px 0px;
}

.offcanvas.show .nav-link {
    display: flex;
    align-items: center;
}

.offcanvas.show .dropdown-toggle::after {
    display: block;
    margin-left: auto;
}

.offcanvas.show .nav-item:hover .dropdown-menu {
    background: transparent;
}

.offcanvas.show .dropdown-item {
    color: white;
}

.offcanvas.show .dropdown-item:hover {
    background: transparent;
    color: white;
}

.offcanvas.show .offcanvas-body {
    margin-left: 0 !important;
}

.offcanvas.show p {
    color: white;
}

.language-dropdown {
    color: white !important;
    box-shadow: 4px 4px 6px black;
}


.language-dropdown a {
    text-shadow: none !important;
    padding: 3px;
}

.language-dropdown:hover svg {
    fill: #02ff23 !important;
}
@media (width < 992px) {
    .igeco-menu-dropdown div {
        width: auto;
    }
}