.wrapper-igeco-ferias a{
    text-decoration: none;
    color: black;
    text-align: center;
       
}
.wrapper-igeco-ferias>div:hover {
    box-shadow: 0 3rem 3rem rgba(0,0,0,.175)!important;    
}
.modal-content{
    background-color: transparent;    
}