.footer-socialmedia svg {
    fill: #33639f;
    width: 30px;
    margin: 10px;
}

.footer-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

footer a:hover {
    color: #33639f;
}

.footer-language {
    padding: 10px 0;
    border-top: 1px solid #727272;
    border-bottom: 1px solid #727272;
}

.language-option-footer button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #33639f;
}